<h1>Welcome to CSE Motors!</h1>
<div id="delorian">
    <img class="fullWidth" src="images/vehicles/delorean.jpg" alt="delorian">
    <div class="glassCard">
        <p>
            <b>DMC Delorean</b> <br>
            3 Cup holders <br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <img src="images/site/own_today.png" alt="button own_today">
    </div>
</div>
<div class="content">
    <section> 
        <h2>DMC Delorian Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </section>
    <section>
        <h2>Delorian Upgrades</h2>
        <div class="flex">
            <div class="figure">
                <div class="images">
                    <img src="images/upgrades/flux-cap.png" alt="flux capacitator" id="flux_capacitor">
                </div>
                <div class="figcaption">
                    <a href="#flux_capacitor">Flux Capacitor</a>
                </div>
            </div>
            <div class="figure">
                <div class="images">
                   <img src="images/upgrades/flame.jpg" alt="flame decals" id="flame_decals"> 
                </div>
                <div class="figcaption">
                    <a href="#flame_decals">Flame Decals</a>
                </div>
            </div>
            <div class="figure">
                <div class="images">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers" id="bumper_stickers">
                </div>
                <div class="figcaption">
                    <a href="#bumper_stickers">Bumper Stickers</a>
                </div>
            </div>
            <div class="figure">
                <div class="images">
                    <img src="images/upgrades/hub-cap.jpg" alt="hub caps" id="hub_caps">
                </div>
                <div class="figcaption">
                    <a href="#hub_caps">Hub Caps</a>
                </div>
            </div>
        </div> 
    </section>
</div>
